@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ffe1e1;
}

.body {
  margin: 2rem 0;
}

.title {
  display: flex;
  justify-content: space-around;
  margin: 0;
  align-items: center;
  background-color: #ffa1a1;
}

img {
  width: 100%;
}

header {
  margin: 0;
}

article {
  margin: 1.5rem 0;
}

.title img {
  width: 40px;
}

header h1 {
  text-align: center;
  color: #723333;
  margin: 2rem 0;
  padding: 0;
  font-size: 2em;
  font-family: "Leckerli One", cursive;
}

header nav {
  display: block;
  font-family: Merienda, cursive;
}

ul {
  padding: 0;
  list-style-type: none;
  display: block;
}

header li {
  margin-bottom: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

header nav a {
  border-bottom: 2px solid black;
  width: 110px;
  display: inline-block;
}

.banner-hidden {
  display: none;
}

.banner {
  position: relative;
}

.banner-content {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: inline-block;
  background-color: rgba(0, 0, 0, .6);
  width: 60%;
  color: white;
  border-radius: 10px;
  padding: .5rem .5rem 1.5rem;
  max-width: 18rem;
}

.banner-content p {
  margin: .5rem 0 1rem;
}

.banner-content a {
  color: white;
  padding: .5rem 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: Merienda, cursive;
}

.banner-content a:hover {
  background-color: #ea7d7d;
  color: white;
}

.a-body-element {
  display: block;
  padding: 1.5rem;
  border: 2px solid #723333;
  margin: 1rem .5rem;
  border-radius: 10px;
  background-color: white;
}

.img-flex img {
  display: block;
  width: 30%;
  margin: 0 auto;
}

.yum-yum-content {
  display: block;
  width: 85%;
  margin: 0 auto;
}

.yum-yum-content h2 {
  text-align: center;
  margin-bottom: 0;
  font-family: Merienda, cursive;
  font-weight: bold;
}

.yum-yum-content a {
  color: #723333;
  padding: .5rem 1rem;
  border-radius: 5px;
  background-color: white;
}

.yum-yum-content a:hover {
  color: white;
  background-color: #723333;
}

.yum-yum-content p {
  margin: 1rem 0 0;
}

.pipol-img img {
  display: block;
  width: 40%;
  margin: 0 auto 1rem;
  max-width: 15rem;
}

.pipol-story h3 {
  display: block;
  text-align: center;
  margin: .75rem 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.pipol-story {
  padding: 0 2rem;
}

.story h2 {
  display: block;
  text-align: center;
  font-family: Merienda, cursive;
  font-weight: bold;
  color: #723333;
  font-size: 2rem;
  margin-bottom: .75rem;
}

.story {
  margin: 0 .5rem;
}

blockquote {
  font-style: italic;
  font-size: .85rem;
}

footer {
  display: block;
  background-color: #723333;
}

footer p {
  text-align: center;
  color: white;
  margin: 0;
  padding: 1.5rem 0;
}

ul a:hover {
  background-color: #ea7d7d;
  color: white;
}

@media only screen and (min-width: 25em) {

  .title img {
    width: 50px;
  }

  .title h1 {
    font-size: 2rem;
    margin: 1.5rem 0;
  }

  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  ul li {
    margin-bottom: 1rem;
    width: 50%;
    text-align: center;
    display: block;
  }

  article {
    margin-top: 0;
  }

  .a-body-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .img-flex img {
    margin: 0;
    width: 100%;
  }

  .img-flex {
    width: 30%;
  }

  .yum-yum-content {
    display: block;
    width: 60%;
  }

  .yum-yum-content h2 {
    text-align: left;
    padding-left: .5rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .title h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
  }

  ul li {
    margin-bottom: 1rem;
    width: 25%;
    text-align: center;
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .title img {
    width: 60px;
  }

  .banner-goes-here {
    display: flex;
  }

  .banner {
    width: 50%;
  }

  .banner-img img {
    height: 498px;
  }

  .banner-hidden {
    display: block;
    width: 50%;
    position: relative;
  }

  .banner-img-hidden img {
    height: 498px;
  }

  .banner-content-hidden {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    line-height: 6rem;
    font-size: 5rem;
    text-align: center;
    color: white;
    font-family: Merienda, cursive;
    font-weight: bold;
    width: 100%;
    height: 498px;
  }

  .banner-content-hidden p {
    text-align: center;
    width: 40%;
    margin: auto;
    padding-top: 3rem;
  }

  .banner-hidden a:hover .banner-content-hidden {
    background-color: rgba(0, 0, 0, .6);
  }

  .a-body-element {
    display: inline-block;
    width: 30%;
    max-height: 90em;
  }

  .img-flex img {
    width: 100%;
    max-height: 900px;
  }

  .img-flex {
    width: 100%;
    height: 10rem;
    margin-bottom: 5rem;
  }

  .body {
    text-align: center;
  }

  .yum-yum-content p {
    text-align: left;
    width: 100%;
  }

  .yum-yum-content h2 {
    text-align: center;
    padding-left: 0;
  }

  .yum-yum-content {
    display: block;
    width: 85%;
  }

  .to-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .pipol-img {
    width: 25%;
  }

  .pipol-img img {
    width: 100%;
  }

  .pipol-story {
    width: 75%;
    margin: auto 0;
    text-align: left;
  }

  .pipol-story h3 {
    text-align: left;
  }

  .story h2 {
    margin-bottom: 0;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: inherit;
  }

  header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #ea7d7d;
  }

  .title img:last-child {
    display: none;
  }

  .title img:first-child {
    width: 80px;
    margin-left: 1rem;
  }

  .title h1 {
    margin-left: 1rem;
  }

  .title {
    background-color: #ea7d7d;
  }

  li a {
    color: white;
  }

  li a:hover {
    background-color: #ffe1e1;
    color: #723333;
  }

  nav {
    width: 50%;
    align-items: center;
  }

  ul li {
    top: 50%;
    transform: translate(0, 30%);
    margin-bottom: -4rem;
  }

  header h1 {
    margin: 1rem 0;
  }

}
